@page "/"
@using System.Xml
@using System.Xml.Serialization
@using System.IO 

<Container Fluid>
    @if (questions != null && !isResult)
    {
        <Steps SelectedStep="@selectedQuestion.Id" SelectedStepChanged="OnSelectedStepChanged">
            <Items>
                @foreach (var question in questions)
                {
                    <Step Name="@question.Id">
                        <Text>@question.Title</Text>
                    </Step>
                }
            </Items>
            <Content>
                @foreach (var question in questions)
                {
                    <StepPanel Name="@question.Id">
                        <Row Padding="Padding.Is5">
                            <Column>
                                <Row>
                                    <Heading Size="HeadingSize.Is1">
                                        @question.Content
                                    </Heading>
                                </Row>
                                <Row>
                                    <RadioGroup TValue="string" Orientation="Orientation.Vertical" @bind-CheckedValue="question.SelectedVariant">
                                        @foreach (var variant in question.Variants)
                                        {
                                            <Radio TValue="string" Value="variant.Id">
                                                @variant.Content
                                            </Radio>
                                        }
                                    </RadioGroup>
                                </Row>
                            </Column>
                        </Row>
                    </StepPanel>
                }
            </Content>
        </Steps>
        <Row Flex="Flex.AlignItems.Center">
            <Column ColumnSize="ColumnSize.Is2.OnDesktop.Is3.OnTablet">
                <Button Color="Color.Secondary" Disabled="isFirst" Block Clicked="OnPrev">Предыдущий</Button>
            </Column>
            <Column ColumnSize="ColumnSize.Is2.OnDesktop.Is3.OnTablet">
                <Button Color="Color.Primary" Disabled="isLast || !isSelected" Block Clicked="OnNext">Следующий</Button>
            </Column>
            @if (isLast)
            {
                <Column ColumnSize="ColumnSize.Is4.OnDesktop.Is6.OnTablet">
                    <Button Color="Color.Success" Block Disabled="!isSelected" Clicked="() => isResult = true">Узнать результат</Button>
                </Column>
            }
        </Row>
    }
    else if (isResult)
    {
        @if (maxResult != null)
        {
            <Row>
                <Column ColumnSize="ColumnSize.Is8.OnWidescreen.Is12.OnMobile">
                    <Card Margin="Margin.Is5.OnDesktop.Is1.OnMobile">
                        <CardBody>
                            <CardTitle Size="5">@maxResult.Title</CardTitle>
                            <CardText>@maxResult.Content</CardText>
                        </CardBody>
                        <CardImage Source="@maxResult.ImageURL" Alt="@maxResult.Title" Width="Width.Is50">
                        </CardImage>
                    </Card>
                </Column>
            </Row>
        }
        else
        {
            <Heading>Result loading error!</Heading>
        }
    }
    else
    {
        <Heading Size="HeadingSize.Is1">
            Loading XML...
        </Heading>
    }
</Container>

@code {
    private bool isFirst => selectedQuestion == questions.First();
    private bool isLast => selectedQuestion == questions.Last();
    private bool isSelected => !string.IsNullOrWhiteSpace(selectedQuestion.SelectedVariant);
    private bool isResult = false;

    private List<string> selectedItems => questions.Select(q => q.SelectedVariant).ToList();

    private Result maxResult
    {
        get
        {
            Dictionary<string, int> resultGroup = new Dictionary<string, int>();
            foreach (var result in selectedItems)
            {
                if (!resultGroup.Keys.Contains(result))
                {
                    resultGroup.Add(result, 1);
                }
                else
                {
                    resultGroup[result]++;
                }
            }
            string id = resultGroup.Aggregate((a, b) => a.Value > b.Value ? a : b).Key;
            return results.Where(r => r.Id == id).FirstOrDefault();
        }
    }

    private List<Question> questions;
    private List<Result> results;

    private Question selectedQuestion;

    private string questionsURL = "./xml/questions.xml";
    private string resultsURL = "./xml/results.xml";

    protected override async Task OnInitializedAsync()
    {
        //var stream = await client.GetStreamAsync(questionsURL);

        var reader = new StringReader(questionsXML);


        var serializer = new XmlSerializer(typeof(List<Question>));
        questions = (List<Question>)serializer.Deserialize(reader);

        reader.Close();

        //stream.Close();

        //stream = await client.GetStreamAsync(resultsURL);

        reader = new StringReader(resultsXML);

        serializer = new XmlSerializer(typeof(List<Result>));
        results = (List<Result>)serializer.Deserialize(reader);

        reader.Close();

        //stream.Close();


        string debug = "";
        foreach (var question in questions)
        {
            debug += question + "\n";
        }
        Console.WriteLine(debug);

        debug = "";
        foreach (var result in results)
        {
            debug += result + "\n";
        }
        Console.WriteLine(debug);

        selectedQuestion = questions.First();
    }

    private void OnPrev()
    {
        if (!isFirst)
        {
            selectedQuestion = questions[questions.IndexOf(selectedQuestion) - 1];
        }
    }

    private void OnNext()
    {
        if (!isLast)
        {
            selectedQuestion = questions[questions.IndexOf(selectedQuestion) + 1];
        }
    }

    private void OnSelectedStepChanged(string selectedId)
    {

    }

    string questionsXML = @"<?xml version='1.0' encoding='utf-8'?>
<ArrayOfQuestion xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
<Question>
<Title>
Характер
</Title>
<Id>1</Id>
<Content>
Ты по характеру…
</Content>
<Variants>
<Variant>
<Content>
  Милый(-ая) и застенчивый(-ая)
</Content>
<Id>1</Id>
</Variant>
<Variant>
<Content>
  Смелый(-ая) и преданный(-ая)
</Content>
<Id>2</Id>
</Variant>
<Variant>
<Content>
  Веселый(-ая) и общительный(-ая)
</Content>
<Id>3</Id>
</Variant>
<Variant>
<Content>
  Замкнутый(-ая) и колкий(-ая)
</Content>
<Id>4</Id>
</Variant>
<Variant>
<Content>
  Спокойный(-ая) и ответственный(-ая)
</Content>
<Id>5</Id>
</Variant>
<Variant>
<Content>
  Упорный(-ая) и независимый(-ая)
</Content>
<Id>6</Id>
</Variant>
</Variants>
</Question>
<Question>
<Title>
Учеба
</Title>
<Id>2</Id>
<Content>
Как ты относишься к учебе?
</Content>
<Variants>
<Variant>
<Content>
  Я стараюсь следить за оценками, учусь хорошо
</Content>
<Id>1</Id>
</Variant>
<Variant>
<Content>
  Я хоть и стараюсь, но оставляю время для более важного
</Content>
<Id>2</Id>
</Variant>
<Variant>
<Content>
  Мне плевать на учебу
</Content>
<Id>3</Id>
</Variant>
<Variant>
<Content>
  Учеба даётся мне с трудом
</Content>
<Id>4</Id>
</Variant>
<Variant>
<Content>
  Я отличник(-ца) без всяких усилий
</Content>
<Id>5</Id>
</Variant>
<Variant>
<Content>
  Я хорошо учусь только по интересным для меня предметам
</Content>
<Id>6</Id>
</Variant>
</Variants>
</Question>
<Question>
<Title>
Цвет
</Title>
<Id>3</Id>
<Content>
Какой из перечисленных цветов тебе нравится больше?
</Content>
<Variants>
<Variant>
<Content>
  Розовый
</Content>
<Id>1</Id>
</Variant>
<Variant>
<Content>
  Глубой
</Content>
<Id>2</Id>
</Variant>
<Variant>
<Content>
  Желтый
</Content>
<Id>3</Id>
</Variant>
<Variant>
<Content>
  Пурпурный
</Content>
<Id>4</Id>
</Variant>
<Variant>
<Content>
  Фиолотовый
</Content>
<Id>5</Id>
</Variant>
<Variant>
<Content>
  Зеленый
</Content>
<Id>6</Id>
</Variant>
</Variants>
</Question>
<Question>
<Title>
Лучшая
черта
</Title>
<Id>4</Id>
<Content>
Какая твоя лучшая черта характера?
</Content>
<Variants>
<Variant>
<Content>
  Доброта
</Content>
<Id>1</Id>
</Variant>
<Variant>
<Content>
  Смелость
</Content>
<Id>2</Id>
</Variant>
<Variant>
<Content>
  Чувство юмора
</Content>
<Id>3</Id>
</Variant>
<Variant>
<Content>
  Независимость
</Content>
<Id>4</Id>
</Variant>
<Variant>
<Content>
  Спокойствие
</Content>
<Id>5</Id>
</Variant>
<Variant>
<Content>
  Упорство
</Content>
<Id>6</Id>
</Variant>
</Variants>
</Question>
<Question>
<Title>
Худшая
черта
</Title>
<Id>5</Id>
<Content>
А какая черта худшая?
</Content>
<Variants>
<Variant>
<Content>
  Робость
</Content>
<Id>1</Id>
</Variant>
<Variant>
<Content>
  Самовлюбленность
</Content>
<Id>2</Id>
</Variant>
<Variant>
<Content>
  Безалаберность
</Content>
<Id>3</Id>
</Variant>
<Variant>
<Content>
  Ранимость
</Content>
<Id>4</Id>
</Variant>
<Variant>
<Content>
  Холодность
</Content>
<Id>5</Id>
</Variant>
<Variant>
<Content>
  Нетерпеливость
</Content>
<Id>6</Id>
</Variant>
</Variants>
</Question>
</ArrayOfQuestion>";

    string resultsXML = @"<?xml version='1.0' encoding='utf-8'?>
<ArrayOfResult xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
<Result>
<Id>1</Id>
<Title>Флора</Title>
<Content>
  Тихая, скромная и застенчивая девушка.
  Её лучшие друзья — цветы, иногда кажется, что с ними она чувствует себя увереннее, чем с людьми.
  Во 2 сезоне у Флоры возникают проблемы из-за нерешительности: вместо того, чтобы просто сделать что-то, она начинает раздумывать, что же случится в случае неудачи, что особенно ярко проявляется в её чувствах к Гелии.
  Ближе к концу 2 сезона Флора становится более уверенной и получает Чармикс, признавшись Гелии в своих чувствах. Но, судя по всему, явление это временное, потому что в последующих сезонах нерешительность опять становится её визитной карточкой.
</Content>
<ImageURL>images/flora.png</ImageURL>
</Result>
<Result>
<Id>2</Id>
<Title>Блум</Title>
<Content>
  Блум любопытная и немножко хитрая (ведь, как признаёт сама Блум, без хитрости она бы не выжила);
  у неё добрая душа, она всегда готова помочь другим (если видит, что с кем-то поступают несправедливо, не может не вмешаться).
  Хотя некоторые события доказывают нам обратное, Блум считает себя очень нерешительной и неуверенной в себе;
  её девиз: «Убеди меня, что я поступаю правильно, и я тебя поцелую».
  Блум старается побороть свои недостатки, и в этом ей помогают остальные Винкс.
  В плане чувств, Блум очень ранима, даже малейший намёк на отдаление Ская приводит её в отчаяние или слёзы.
</Content>
<ImageURL>images/blum.png</ImageURL>
</Result>
<Result>
<Id>3</Id>
<Title>Стелла</Title>
<Content>
  Эгоистичная, самовлюбленная, уделяет слишком много внимания моде и красоте, но в то же время так и остается той маленькой, закомплексованной, неуверенной в себе девочкой, какой была в детстве.
  Стелла олицетворяет собой широко распространенный стереотип «глупой блондинки», однако способна на искренние переживания за друзей и близких, а в критических ситуациях способна действовать рационально и находить разумное применение своим силам.
  Жизнерадостна, открыта и очень артистична.
</Content>
<ImageURL>images/stella.png</ImageURL>
</Result>
<Result>
<Id>4</Id>
<Title>Муза</Title>
<Content>
  Муза любит подшучивать над подругами, хотя иногда это бывает чёрным юмором.
  Вообще юмор, по словам самой феи, сидит у неё внутри, как музыкальный ритм, задающий тон каждому дню её жизни.
</Content>
<ImageURL>images/muza.png</ImageURL>
</Result>
<Result>
<Id>5</Id>
<Title>Текна</Title>
<Content>
  Очень горда, поэтому, чтобы не показаться слабой, скрывает свои эмоции.
  Она рассудительна и осторожна, но при этом также смела и жизнерадостна.
  Отличается умом и прямолинейностью.
  Спокойна, иногда кажется холодной и равнодушной.
</Content>
<ImageURL>images/tekna.png</ImageURL>
</Result>
<Result>
<Id>6</Id>
<Title>Лейла</Title>
<Content>
  Очень активная и спортивная, она не любит долго высчитывать различные варианты, а предпочитает действовать.
  Часто она бывает чересчур вспыльчива и опрометчива, а иногда волнуется по пустякам.
  Есть у Лейлы и слабое место — она боится остаться одна.
  Зато девушка всегда приходит на помощь тем, кого любит.
</Content>
<ImageURL>images/leila.png</ImageURL>
</Result>
</ArrayOfResult>";
}
